{% extends "base.twig" %}
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>

          {% for dino in dinosaures %}

          <a href="/detail/{{ dino.slug }}">
            <figure>
                <img src="{{ dino.avatar }}"/>
                <figcaption>Discover the {{ dino.name }}</figcaption>
            </figure>
        </a>

        {% endfor %}>
        
</section>
{% endblock %}