
{% extends "base.twig" %}   
{% block main %}
<div class="grid">
    <article>
        <h2>Discover the Brachiosaurus</h2>

        <div class="description">
        
            {{dinosaure.description}}
        </div>

        <div class="card">
             <img src="{{ dinosaure.avatar }}"/>
            <dl>
                <dt>Name</dt>
                <dd>{{ dinosaure.name }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ dinosaure.name_meaning }}</dd>
                <dt>Diet</dt>
                <dd> {{dinosaure.diet}}</dd>
                <dt>Height</dt>
                <dd> {{dinosaure.height}} m.</dd>
                <dt>Length</dt>
                <dd> {{dinosaure.length}} m.</dd>
                <dt> Weight</dt>
                <dd>{{dinosaure.weight}}kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
    </aside>
</div>
{% endblock %}